<section id="about" class="about-wrapper">
  <div class="about-snippets">
    <div class="snippet yellow-snippet">
      <img class="paper" src="assets/img/02_ripped-paper/1_yellow.webp" alt="" />
      <div class="details">
        <img class="icon" src="assets/img/icons/location-icon.svg" alt="" />
        <p>Based in Berlin</p>
      </div>
    </div>
    <div class="snippet blue-snippet">
      <img class="paper" src="assets/img/02_ripped-paper/2_blue.webp" alt="" />
      <div class="details">
        <img class="icon" src="assets/img/icons/onsite-icon.svg" alt="" />
        <p>Open to work on-site</p>
      </div>
    </div>
    <div class="snippet orange-snippet">
      <img class="paper" src="assets/img/02_ripped-paper/3_orange.webp" alt="" />
      <div class="details">
        <img class="icon" src="assets/img/icons/remote-icon.svg" alt="" />
        <p>Open to work remote</p>
      </div>
    </div>
  </div>
  <div class="about-me">
    <div class="about-title">
      <h4>WHO'S WANJA?</h4>
      <div>
        <h2>
          About me
          <img
            class="brush-line"
            src="assets/img/00_hand-drawn-lines/01_about-me/line.webp"
            alt="brush-line"
          />
        </h2>
      </div>
    </div>
    <div>
      <p>
        Hey there, I'm Karl. Write some information about yourself that is IT related. Why are you
        passionate about coding? What is your source of inspiration for improving your programming
        skills? Do you learn from each challenge as you search for the most efficient or elegant
        solution?
      </p>
      <p>Let's collaborate and build something remarkable together!</p>
    </div>
    <a routerLink="/" fragment="contact" class="talk">Lets's talk</a>
  </div>
</section>
