@use '../../../../../public/assets/styles/base/variables' as *;
@use '../../../../../public/assets/styles/base/mixins' as mixin;

.about-wrapper {
  height: 720px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 144px 120px;
  gap: 50px;
  scroll-margin-top: 100px;

  .about-snippets {
    width: 40dvw;
    max-width: 550px;

    .yellow-snippet {
      position: relative;
      top: 30px;
      transform: rotate(-3deg);
      z-index: 3;

      > img {
        position: relative;
        top: 65px;
      }

      .yellow-details {
        position: relative;
        top: -55px;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        p {
          font-size: 1.5rem;
          color: white;
        }
      }
    }

    .blue-snippet {
      position: relative;
      z-index: 2;

      > img {
        position: relative;
      }

      .blue-details {
        position: relative;
        top: -110px;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        p {
          font-size: 1.5rem;
          color: white;
        }
      }
    }

    .orange-snippet {
      position: relative;
      top: -55px;
      transform: rotate(3deg);
      z-index: 1;

      > img {
        position: relative;
        top: -30px;
      }

      .orange-details {
        position: relative;
        top: -140px;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        p {
          font-size: 1.5rem;
          color: white;
        }
      }
    }
  }

  .about-me {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 40dvw;
    max-width: 550px;

    .about-title {
      position: relative;
      display: inline-block;

      .brush-line {
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 60%;
        clip-path: inset(0 100% 0 0); // hidden
        animation: draw-line 5s ease-in-out infinite;
      }
    }

    button {
      background: none;
      align-self: flex-end;

      @include mixin.button;

      transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }

    button:hover {
      background-color: $orange;
      color: $off-white;
      box-shadow: none;
      transform: translate(3px, 4px);
      border-color: $black;
    }
  }
}

@keyframes draw-line {
  0% {
    clip-path: inset(0 100% 0 0); // hidden
  }
  16.67% {
    clip-path: inset(0 0 0 0); // drawn after 1s
  }
  66.67% {
    clip-path: inset(0 0 0 0); // stays for 3s
  }
  83.33% {
    clip-path: inset(0 100% 0 0); // erased after 1s
  }
  100% {
    clip-path: inset(0 100% 0 0); // gone for 1s
  }
}
