@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Bricolage Grotesque';
}

h2 {
  font-size: 4rem;
  font-weight: $bold-weight;
}

h3 {
  font-size: 1.5rem;
  font-weight: $bold-weight;
}

h4 {
  font-size: 1.25rem;
  font-weight: $medium-weight;
}

p {
  font-size: 1.125rem;
}

button {
  cursor: pointer;
  font-size: 1.125rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.125rem;
}

@media screen and (min-width: 320px) and (max-width: 1440px) {
  a {
    font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  }
}
