// font weights
$bold-weight: 700;
$medium-weight: 500;

// colors
$off-white: rgba(248, 249, 250, 1);
$blue: rgba(51, 85, 255, 1);
$yellow: rgba(247, 197, 24, 1);
$black: rgba(14, 16, 19, 1);
$orange: rgba(248, 122, 85, 1);
