<section id="contact" class="contact-wrapper">
  <div class="contact-content">
    <div class="contact-header">
      <div class="contact-headline">
        <h4>CONTACT ME</h4>
        <h2>Ready to work together?</h2>
      </div>
      <p>
        Encourage people to contact you and describe what role you are interested in. Express
        confidence in your ability to make a meaningful contribution to a team through your
        expertise and enthusiasm for improving your skills. <br />
        Show interest in contributing to a new project, while highlighting the value and skills you
        can bring to the table.
      </p>
      <img src="../assets/img/00_hand-drawn-lines/05_contact/arrow-right.webp" alt="arrow-image" />
    </div>
    <div class="contact-form">
      <div class="form-question">
        <label for="name">What's your name?</label>
        <input id="name" type="text" placeholder="Your name goes here" />
      </div>
      <div class="form-question">
        <label for="email">What's your email</label>
        <input id="email" type="email" placeholder="youremail@email.com" />
      </div>
      <div class="form-question">
        <label for="help">How can I help you?</label>
        <input id="help" type="text" placeholder="Hi Wanja, I am interested in..." />
      </div>
      <div class="privacy">
        <input type="checkbox" name="privacy" id="" />
        <label for="privacy"
          >I've read the privacy policy and agree to the processing of my data as outlined.</label
        >
      </div>
      <button>Send</button>
    </div>
    <div class="stamp"></div>
  </div>
</section>
