@use '../../../../../public/assets/styles/base/variables' as *;

.contact-wrapper {
  height: 900px;
  background-image: url(../../../../../public/assets/img/01_backgrounds/03_contact.webp);
  background-size: 100dvw 900px; /* fills width AND height, crops overflow */
  background-position: center;
  background-repeat: no-repeat;
  scroll-margin-top: 100px;

  .contact-content {
    padding: 144px calc(50% - 600px);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;

    .contact-header {
      width: 560px;
      display: flex;
      flex-direction: column;
      gap: 48px;

      .arrow-right {
        width: 280px;
        align-self: flex-end;
        clip-path: inset(100% 0 0 0); // hidden
        animation: draw-arrow-right 5s ease-in-out infinite;
      }
    }

    .contact-form {
      width: 480px;
      padding-top: 128px;
      display: flex;
      flex-direction: column;

      .form-question {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid $yellow;
        border-top: 1px solid transparent;

        label {
          padding: 16px 24px 0px 24px;
          font-size: 1.5rem;
        }

        input {
          background: none;
          padding: 0px 24px 16px 24px;
          border: none;
          font-size: 1.125rem;

          &::placeholder {
            color: white;
            opacity: 1;
          }
        }

        &:hover {
          border-bottom-color: $blue;
          border-top-color: $blue;

          label {
            color: $orange;
          }
        }

        &:has(+ .form-question:hover) {
          border-bottom-color: transparent;
        }
      }

      .privacy {
        width: 100%;
        padding: 40px 0px;
        display: flex;
        gap: 8px;
        align-items: start;

        input[type='checkbox'] {
          appearance: none;
          border: 2px solid rgba(51, 85, 255, 1);
          border-radius: 2px;
          width: 18px;
          height: 18px;
          background: none;
          cursor: pointer;
          display: grid;
          place-content: center;
          flex-shrink: 0;
        }
      }

      button {
        align-self: flex-end;
        background: none;
        color: $off-white;
        padding: 12px 60px;
        border: 1.5px solid $off-white;
        border-radius: 999px;
        box-shadow: 3px 4px 0 $off-white;
      }
    }
  }
}

@keyframes draw-arrow-right {
  0% {
    clip-path: inset(0 100% 0 0); // hidden
  }
  16.67% {
    clip-path: inset(0 0 0 0); // drawn after 1s
  }
  66.67% {
    clip-path: inset(0 0 0 0); // stays for 3s
  }
  83.33% {
    clip-path: inset(0 0 0 100%); // erased after 1s
  }
  100% {
    clip-path: inset(0 0 0 100%); // gone for 1s
  }
}
