<header>
  <img src="assets/img/logo/initials_blue.svg" alt="main-logo" />
  <nav>
    <ul>
      <li><a href="#about">About me</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <section class="language-picker">
    <button>EN</button>
    <div class="language-icon">
      <img class="bar" src="assets/img/icons/language-bar.svg" alt="" />
      <img class="mark" src="assets/img/icons/language-mark.svg" alt="" />
    </div>
    <button>DE</button>
  </section>
</header>
