<header>
  <a routerlink="/" class="logo"></a>
  <nav>
    <ul>
      <li>
        <a routerLink="/" fragment="about"
          >About me<img
            class="circle"
            src="assets/img/00_hand-drawn-lines/00_header/1.webp"
            alt="circle-marker"
        /></a>
      </li>
      <li>
        <a routerLink="/" fragment="skills"
          >Skills<img
            class="underline"
            src="assets/img/00_hand-drawn-lines/00_header/2.webp"
            alt="underline-marker"
        /></a>
      </li>
      <li>
        <a routerLink="/" fragment="projects"
          >Projects<img
            class="wave"
            src="assets/img/00_hand-drawn-lines/00_header/4.webp"
            alt="wave-marker"
        /></a>
      </li>
      <li>
        <a routerLink="/" fragment="contact"
          >Contact<img
            class="line"
            src="assets/img/00_hand-drawn-lines/00_header/3.webp"
            alt="line-marker"
        /></a>
      </li>
    </ul>
  </nav>
  <section class="language-picker">
    <button>
      EN<img
        class="box"
        src="assets/img/00_hand-drawn-lines/00_header/toggle.webp"
        alt="box-marker"
      />
    </button>
    <div class="language-icon">
      <img class="bar" src="assets/img/icons/language-bar.svg" alt="" />
      <img class="mark" src="assets/img/icons/language-mark.svg" alt="" />
    </div>
    <button>
      DE<img
        class="box"
        src="assets/img/00_hand-drawn-lines/00_header/toggle.webp"
        alt="box-marker"
      />
    </button>
  </section>
</header>
