@use '../../../../public/assets/styles/base/variables' as *;

.imprint-wrapper {
  .background {
    position: relative;
    width: 100%;
    height: 475px;
    background-image: url(../../../../public/assets/img/01_backgrounds/02_skills.webp);
    background-size: cover; /* fills width AND height, crops overflow */
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 100px;
  }

  .imprint-content {
    position: relative;
    width: 100%;
    padding: 0px 72px;
    top: -475px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h4,
    a {
      color: $blue;
    }

    .imprint-header {
      padding: 200px 0px 200px 0px;
      color: $off-white;
    }

    .owner {
      ul {
        padding: 30px 0px 0px 15px;
      }
    }

    .board {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .signature {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .imprint-wrapper {
    .imprint-content {
      padding: 0px calc(50% - 600px);
    }
  }
}
