<section class="imprint-wrapper">
  <div class="background"></div>
  <div class="imprint-content">
    <div class="imprint-header"><h2>Legal Notice</h2></div>
    <div class="owner">
      <h4>Imprint</h4>
      <ul>
        <li>Wanja Mueller</li>
        <li>Viehtrft 24, 10247 Berlin</li>
        <li>10247 Berlin</li>
      </ul>
    </div>
    <div class="board">
      <h4>Exploring the Board</h4>
      <a href="mailto:me@wanjamueller.com" target="_blank">me@wanjamueller.com</a>
    </div>
    <div class="terms">
      <h4>Acceptance of terms</h4>
      <p>
        By accessing and using Portfolio (Product), you acknowledge and agree to the following terms
        and conditions, and any policies, guidelines, or amendments thereto that may be presented to
        you from time to time. We, the listed students, may update or change the terms and
        conditions from time to time without notice.
      </p>
    </div>
    <div class="scope">
      <h4>Scope and ownership of the product</h4>
      <p>
        Portfolio has been developed as part of a student group project in a web development
        bootcamp at the Developer Akademie GmbH. It has an educational purpose and is not intended
        for extensive personal & business usage. As such, we cannot guarantee consistent
        availability, reliability, accuracy, or any other aspect of quality regarding this Product.
        <br />The design of Portfolio is owned by the Developer Akademie GmbH. Unauthorized use,
        reproduction, modification, distribution, or replication of the design is strictly
        prohibited.
      </p>
    </div>
    <div class="rights">
      <h4>Proprietary rights</h4>
      <p>
        Aside from the design owned by Developer Akademie GmbH, we, the listed students, retain all
        proprietary rights in Portfolio, including any associated copyrighted material, trademarks,
        and other proprietary information.
      </p>
    </div>
    <div class="product">
      <h4>Use of the product</h4>
      <p>
        Portfolio is intended to be used for lawful purposes only, in accordance with all applicable
        laws and regulations. Any use of Portfolio for illegal activities, or to harass, harm,
        threaten, or intimidate another person, is strictly prohibited. You are solely responsible
        for your interactions with other users of Portfolio.
      </p>
    </div>
    <div class="disclaimer">
      <h4>Disclaimer of warranties and limitation of liability</h4>
      <p>
        Portfolio is provided "as is" without warranty of any kind, whether express or implied,
        including but not limited to the implied warranties of merchantability, fitness for a
        particular purpose, and non-infringement. In no event will we, the listed students, or the
        Developer Akademie, be liable for any direct, indirect, incidental, special, consequential
        or exemplary damages, including but not limited to, damages for loss of profits, goodwill,
        use, data, or other intangible losses, even if we have been advised of the possibility of
        such damages, arising out of or in connection with the use or performance of Portfolio.
      </p>
    </div>
    <div class="indemnity">
      <h4>Indemnity</h4>
      <p>
        You agree to indemnify, defend and hold harmless us, the listed students, the Developer
        Akademie, and our affiliates, partners, officers, directors, agents, and employees, from and
        against any claim, demand, loss, damage, cost, or liability (including reasonable legal
        fees) arising out of or relating to your use of Portfolio and/or your breach of this Legal
        Notice.
      </p>
    </div>
    <div class="signature">
      <p>
        For any questions or notices, please contact us at
        <a href="mailto:me@wanjamueller.com" target="_blank">me@wanjamueller.com</a>.
      </p>
      <p>Date: October 5th, 2026</p>
    </div>
  </div>
</section>
