<section id="hero" class="hero-wrapper">
  <div class="hero-content">
    <div class="hero-main">
      <div class="photo">
        <img src="./assets/img/03_stickers/polaroid-frame.webp" alt="polaroid-image" />
      </div>
      <a routerLink="/" fragment="about" class="hello"
        ><img class="hello-icon" src="../assets/img/icons/waving_hand.svg" alt="waving-hand" />
        <span class="swap">
          <span class="swap__default">Hello World</span>
          <span class="swap__hover" aria-hidden="true">Hi. I'm Wanja Mueller</span>
        </span></a
      >
      <div class="hero-text">
        <div class="front">
          <p>Frontend</p>
        </div>
        <div class="dev">
          <p>DEVELOPER</p>
        </div>
      </div>
      <a routerLink="/" fragment="contact" class="touch">Get in Touch</a>
    </div>
    <div class="social">
      <div class="linkedin social-icon">
        <a href="https://www.linkedin.com/in/wanjamueller/" target="_blank"
          ><img src="./assets/img/icons/linkedin.svg" alt="linkedIn-icon"
        /></a>
      </div>
      <div class="git social-icon">
        <a href="https://github.com/wanjamueller" target="_blank"
          ><img src="./assets/img/icons/git.svg" alt="git-icon"
        /></a>
      </div>
      <div class="mail social-icon">
        <a href="mailto:me@wanjamueller.com" target="_blank"
          ><img src="./assets/img/icons/mail.svg" alt="mail-icon"
        /></a>
      </div>
    </div>
  </div>
</section>
