@use '../../../../../public/assets/styles/base/variables' as *;
@use '../../../../../public/assets/styles/base/mixins' as mixin;

.hero-wrapper {
  // width: 100%;
  height: 900px;
  min-height: 100vh;
  background-size: cover;
  background-image: url(../../../../../public/assets/img/01_backgrounds/01_hero.webp);
  background-size: cover; /* fills width AND height, crops overflow */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 100px;

  .photo {
    position: absolute;
    top: 220px;
    right: calc(50% - 500px);
    transform: rotate(10deg);

    img {
      height: 244px;
    }
  }

  .hero-content {
    width: 100%;
    padding: 0px calc(50% - 660px);

    .hero-main {
      display: flex;
      flex-direction: column;
      width: 100%;

      button {
        background: none;
        color: $off-white;

        @include mixin.button;
      }

      .hello {
        align-self: start;
      }

      .hero-text {
        width: 100%;
        align-self: center;
        color: white;

        p {
          font-size: 128px;
          font-weight: 700;
        }

        .front {
          text-align: left;
        }

        .dev {
          text-align: right;
        }
      }

      .touch {
        align-self: end;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    left: calc(50% - 600px);
    bottom: 100px;

    .social-icon {
      height: 40px;
      width: 40px;
      border: 1px solid $off-white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
      }

      background: linear-gradient($blue, $blue) no-repeat bottom / 100% 0%; // bottom → top
      transition: background-size 0.3s ease;

      &:hover {
        background-size: 100% 100%;
      }
    }
  }
}
