<section class="hero-wrapper">
  <div class="hero-content">
    <div class="hero-main">
      <div class="photo">
        <img src="assets/img/03_stickers/polaroid-frame.webp" alt="polaroid-image" />
      </div>
      <button class="hello">Hello World</button>
      <div class="hero-text">
        <div class="front">
          <p>FRONTEND</p>
        </div>
        <div class="dev">
          <p>DEVELOPER</p>
        </div>
      </div>
      <button class="touch">Get in Touch</button>
    </div>
    <div class="social">
      <div class="linkedin social-icon">
        <img src="assets/img/icons/linkedin.svg" alt="linkedIn-icon" />
      </div>
      <div class="git social-icon">
        <img src="assets/img/icons/git.svg" alt="git-icon" />
      </div>
      <div class="mail social-icon">
        <img src="assets/img/icons/mail.svg" alt="mail-icon" />
      </div>
    </div>
  </div>
</section>
