<footer [class.light]="onImprint()">
  <section class="footer-content">
    <div class="credits">
      <div>
        <a routerLink="/" fragment="hero" class="logo" aria-label="Back to top"></a>
      </div>
      <div class="copyrights">
        <p>© Wanja Mueller 2026</p>
        <a routerLink="/imprint">
          Legal Notice
          <img
            class="brush-mark"
            src="./assets/img/00_hand-drawn-lines/03_portfolio/underline.webp"
            alt=""
          />
        </a>
      </div>
    </div>
    <a class="footer-link" href="https://github.com/wanjamueller" target="_blank">
      <img class="footer-icon" src="./assets/img/icons/git.svg" alt="" />
      GitHub
    </a>

    <a class="footer-link" href="https://www.linkedin.com/in/wanjamueller/" target="_blank">
      <img class="footer-icon" src="./assets/img/icons/linkedin.svg" alt="" />
      LinkedIn
    </a>

    <a class="footer-link" href="mailto:me@wanjamueller.com">
      <img class="footer-icon" src="./assets/img/icons/mail.svg" alt="" />
      Email
    </a>
  </section>
</footer>
