<section class="about-wrapper">
  <div class="about-snippets">
    <div class="snippet yellow-snippet">
      <img src="assets/img/02_ripped-paper/1_yellow.webp" alt="yellow-note" />
      <div class="yellow-details">
        <img class="location-icon" src="assets/img/icons/location-icon.svg" alt="location-icon" />
        <p>Based in Berlin</p>
      </div>
    </div>
    <div class="snippet blue-snippet">
      <img src="assets/img/02_ripped-paper/2_blue.webp" alt="blue-note" />
      <div class="blue-details">
        <img class="onsite-icon" src="assets/img/icons/onsite-icon.svg" alt="onsite-icon" />
        <p>Open to work on-site</p>
      </div>
    </div>
    <div class="snippet orange-snippet">
      <img src="assets/img/02_ripped-paper/3_orange.webp" alt="orange-note" />
      <div class="orange-details">
        <img class="remote-icon" src="assets/img/icons/remote-icon.svg" alt="remote-icon" />
        <p>Open to work remote</p>
      </div>
    </div>
  </div>
  <div class="about-me">
    <div>
      <h4>WHO'S WANJA?</h4>
      <div>
        <h2>About me</h2>
      </div>
    </div>
    <div>
      <p>
        Hey there, I'm Karl. Write some information about yourself that is IT related. Why are you
        passionate about coding? What is your source of inspiration for improving your programming
        skills? Do you learn from each challenge as you search for the most efficient or elegant
        solution?
      </p>
      <p>Let’s collaborate and build something remarkable together!</p>
    </div>
    <button class="talk">Lets's talk</button>
  </div>
</section>
