<section class="skills-wrapper">
  <div class="skills-content">
    <div class="skills-intro">
      <div class="skill-header">
        <div class="stack">
          <h4>MY STACK</h4>
        </div>
        <div class="skill-set"></div>
        <h2>Skill set</h2>
      </div>
      <div class="skill-snippet">
        <img src="assets/img/02_ripped-paper/bg-skills.webp" alt="skill-notes-image" />
        <div class="skill-text">
          <p>
            A short introduction of your skills. Highlight your experience of using different
            front-end technologies and emphasise your openness to learning and adapting to new
            technologies.
          </p>
        </div>
      </div>
    </div>
    <div class="skills">
      <div class="html">
        <img src="assets/img/logo/HTML.svg" alt="html-logo" />
      </div>
      <div class="css">
        <img src="assets/img/logo/CSS.svg" alt="css-logo" />
      </div>
      <div class="java">
        <img src="assets/img/logo/Js.svg" alt="js-logo" />
      </div>
      <div class="type">
        <img src="assets/img/logo/Ts.svg" alt="ts-logo" />
      </div>
      <div class="angular">
        <img src="assets/img/logo/Angular.svg" alt="angular-logo" />
      </div>
      <div class="supabase">
        <img src="assets/img/logo/Supabase.svg" alt="supabase-lgog" />
      </div>
      <div class="git">
        <img src="assets/img/logo/Git-skill.svg" alt="git-logo" />
      </div>
      <div class="api">
        <img src="assets/img/logo/Rest-Api.svg" alt="rest-api-logo" />
      </div>
      <div class="scrum">
        <img src="assets/img/logo/Scrum.svg" alt="scrum-logo" />
      </div>
    </div>
    <div class="peel">
      <img src="assets/img/03_stickers/01_skills-peel-off/1_default.webp" alt="peel-off-image" />
    </div>
  </div>
</section>
