<section class="reference-wrapper">
  <div class="reference-content">
    <div class="reference-header">
      <div class="words-wrapper">
        <h4>
          <img
            class="arrow-image"
            src="../assets/img/00_hand-drawn-lines/04_testimonials/arrow-left.webp"
            alt="arrow-image"
          />IN THEIR WORDS:
        </h4>
      </div>
      <h2>Colleagues' Thoughts</h2>
    </div>
    <div class="references">
      <div class="ref ref-one">
        <img
          class="ref-bg"
          src="../assets/img/03_stickers/02_testimonials/A.webp"
          alt="sticker-image"
        />
        <img
          class="drawn-line"
          src="../assets/img/03_stickers/02_testimonials/Hover.webp"
          alt="drawn-line"
        />
        <div class="ref-card">
          <div class="ref-text">
            Karl really kept the team together with his great organization and clear communication.
            We wouldn't have got this far without his commitment.
          </div>
          <div class="ref-source">
            <div class="ref-name">
              <h4>Tobias Lange</h4>
              <p>Frontend Developer</p>
            </div>
            <div class="ref-link">
              <img src="../assets/img/icons/linkedin_black.svg" alt="linkedin-logo" />
              <p>Profile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ref ref-two">
        <img
          class="ref-bg"
          src="../assets/img/03_stickers/02_testimonials/B.webp"
          alt="sticker-image"
        />
        <img
          class="drawn-line"
          src="../assets/img/03_stickers/02_testimonials/Hover.webp"
          alt="drawn-line"
        />
        <div class="ref-card">
          <div class="ref-text">
            Karl really kept the team together with his great organization and clear communication.
            We wouldn't have got this far without his commitment.
          </div>
          <div class="ref-source">
            <div class="ref-name">
              <h4>Tobias Lange</h4>
              <p>Frontend Developer</p>
            </div>
            <div class="ref-link">
              <img src="../assets/img/icons/linkedin_black.svg" alt="linkedin-logo" />
              <p>Profile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ref ref-three">
        <img
          class="ref-bg"
          src="../assets/img/03_stickers/02_testimonials/A.webp"
          alt="sticker-image"
        />
        <img
          class="drawn-line"
          src="../assets/img/03_stickers/02_testimonials/Hover.webp"
          alt="drawn-line"
        />
        <div class="ref-card">
          <div class="ref-text">
            Karl really kept the team together with his great organization and clear communication.
            We wouldn't have got this far without his commitment.
          </div>
          <div class="ref-source">
            <div class="ref-name">
              <h4>Tobias Lange</h4>
              <p>Frontend Developer</p>
            </div>
            <div class="ref-link">
              <img src="../assets/img/icons/linkedin_black.svg" alt="linkedin-logo" />
              <p>Profile</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
