@use '../../../../../public/assets/styles/base/variables' as *;

.reference-content {
  padding: 244px calc(50% - 660px);
  min-height: 840px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  scroll-margin-top: 100px;

  .reference-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    right: 50px;
    padding-bottom: 50px;

    .words-wrapper {
      gap: 16px;
      position: relative;
      display: inline-block;

      .arrow-image {
        position: absolute;
        right: 180px;
        bottom: -5px;
        width: 60%;
        height: 150%;
        clip-path: inset(100% 0 0 0); // hidden
        animation: draw-arrow 5s ease-in-out infinite;
      }
    }
  }

  .references {
    display: flex;
    align-items: center;
    justify-content: center;

    .ref {
      position: relative; // parent for the layers inside
      height: 320px;

      .ref-bg {
        display: block;
        height: 100%;
      }

      .drawn-line {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
      }

      .ref-card {
        position: absolute;
        inset: 0; // lies exactly on the sticker
        padding: 40px 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
      }

      .ref-source {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 4px;
      }

      .ref-link {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      &:hover {
        .drawn-line {
          opacity: 1;
        }

        .ref-name {
          color: $off-white;
        }
      }
    }

    // individual tilt + overlap
    .ref-one {
      transform: rotate(-3deg);
      margin-top: -60px;
      margin-right: -150px;
      z-index: 3;
    }

    .ref-two {
      z-index: 2;

      &:hover {
        z-index: 5;
      }
    }

    .ref-three {
      transform: rotate(3deg) translateY(-20px);
      margin-top: -20px;
      margin-left: -150px;
      z-index: 1;

      &:hover {
        z-index: 5;
      }
    }
  }
}

@keyframes draw-arrow {
  0% {
    clip-path: inset(0 0 0 100%); // hidden
  }
  16.67% {
    clip-path: inset(0 0 0 0); // drawn after 1s
  }
  66.67% {
    clip-path: inset(0 0 0 0); // stays for 3s
  }
  83.33% {
    clip-path: inset(0 100% 0 0); // erased after 1s
  }
  100% {
    clip-path: inset(0 0 0 100%); // gone for 1s
  }
}
