<section class="reference-wrapper">
  <div class="reference-content">
    <div class="reference-header">
      <div class="words-wrapper">
        <img
          src="assets/img/00_hand-drawn-lines/04_testimonials/arrow-left.webp"
          alt="arrow-image"
        />
        <h4>IN THEIR WORDS:</h4>
      </div>
      <h2>Colleagues' Thoughts</h2>
    </div>
    <div class="references">
      <div class="ref-one">
        <img src="assets/img/03_stickers/02_testimonials/A.webp" alt="sticker-image" />
        <div class="ref-card">
          <div class="ref-text">
            Karl really kept the team together with his great organization and clear communication.
            We wouldn't have got this far without his commitment.
          </div>
          <div class="ref-source">
            <div class="ref-name">
              <h4>Tobias Lange</h4>
              <p>Frontend Developer</p>
            </div>
            <div class="ref-link">
              <img src="assets/img/icons/linkedin_black.svg" alt="linkedin-logo" />
              <p>Profile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ref-two">
        <img src="assets/img/03_stickers/02_testimonials/B.webp" alt="sticker-image" />
        <div class="ref-card">
          <div class="ref-text">
            Karl really kept the team together with his great organization and clear communication.
            We wouldn't have got this far without his commitment.
          </div>
          <div class="ref-source">
            <div class="ref-name">
              <h4>Tobias Lange</h4>
              <p>Frontend Developer</p>
            </div>
            <div class="ref-link">
              <img src="assets/img/icons/linkedin_black.svg" alt="linkedin-logo" />
              <p>Profile</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ref-three">
        <img src="assets/img/03_stickers/02_testimonials/A.webp" alt="sticker-image" />
        <div class="ref-card">
          <div class="ref-text">
            Karl really kept the team together with his great organization and clear communication.
            We wouldn't have got this far without his commitment.
          </div>
          <div class="ref-source">
            <div class="ref-name">
              <h4>Tobias Lange</h4>
              <p>Frontend Developer</p>
            </div>
            <div class="ref-link">
              <img src="assets/img/icons/linkedin_black.svg" alt="linkedin-logo" />
              <p>Profile</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
