<section class="projects-wrapper">
  <div class="projects-content">
    <div class="projects-intro">
      <div class="projects-header">
        <h4>MY CRAFT</h4>
        <div class="projects">
          <h2>Projects</h2>
        </div>
      </div>
      <div class="projects-text">
        <p>
          Encourage people to take a look and interact with your projects. Highlight your approach
          to creating responsive, user-friendly projects with efficient code.
        </p>
      </div>
    </div>
    <div class="loco">
      <div class="loco-image">
        <img src="assets/img/projects/loco.png" alt="project-image" />
      </div>
      <div class="loco-text">
        <h3>El Pollo Loco</h3>
        <p>
          Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and
          tabasco salsa to fight against the crazy hen.
        </p>
      </div>
    </div>
  </div>
</section>
